@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main {
  flex-grow: 1;
}

.banner {
  object-fit: cover;
  height: 395px;
  width: 100%;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.primary-font {
  color: #003c25;
  text-shadow: 3px 1px 4px whitesmoke;
}
.bg-green {
  background: #003c25;
}
.card {
  width: var(--max);
}

.card-img-top-nueva {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.img-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.img-login {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  object-position: bottom;
}
